<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bltucker.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".artists.ArtistSearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tracks.TrackListActivity"
            android:label="@string/title_activity_track_list"
            android:parentActivityName=".artists.ArtistSearchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bltucker.spotifystreamer.artists.ArtistSearchActivity" />
        </activity>
        <activity
            android:name=".playback.PlaybackActivity"
            android:label="@string/title_activity_playback" >
        </activity>

        <activity android:name=".SettingsActivity"
                  android:label="SettingsActivity"></activity>

        <service
            android:name=".playback.PlaybackService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
